# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Any file (default rules)
[*]
charset = utf-8
#end_of_line = lf - if used on multiple pltforms then it should be driven by git
# See https://git-scm.com/docs/gitattributes#_checking_out_and_checking_in
# git ls-files --eol
# https://editorconfig.org/
#... Additionally, if a property is not standardized in your project (end_of_line for example), it may be best to leave it blank
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# HTML
[*.html]
indent_size = 2

# JSON
[*.{json,jsonc}]
indent_size = 2

# Markdown
[*.md]
indent_size = 2
trim_trailing_whitespace = false

# Xml
[*.{config,Config,csproj,sln,targets,xml}]
indent_size = 2

# Yaml
[*.y{a,}ml]
indent_size = 2
